.containerMain{
    background: #B4BD7E;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;

}

.search{
    grid-row-start:1;
    grid-row-end: 2;
    margin-top: 1em; 
    text-align: center;
}

.search input {
    background-color: #77a68488;
    width: 50%;
    height: 50%;
    border: none;
    font-size: 1em;
    text-align: center;
}

.search button {
    background-color: #77a68488;
    justify-self: center;
    height: 51%;
    width: 5%;
    border-left: 0.1em rgb(178, 202, 158) solid;
    border-bottom: none;
    border-top: none;
    border-right: none;
    cursor: pointer;
}


.containerMainNotes{
    grid-row-start:2;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
}

.showNotesContainer{
    width: 18em;
    height: 16em;
    background: #8FA677;
    margin: 2em 1em;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2)
}

.title {
    margin: 0.5em;
    font-size: 1.3em;
    padding: 0.5em;
    border-bottom:solid 1px rgb(220, 233, 206);
    color: rgb(220, 233, 206);
}

.body {
    color: rgb(220, 233, 206);
    font-size: 1em;
}

.editContainer{
    position: absolute;
    background-color: rgb(220, 233, 206);
    bottom: 0;
    width: 100%;
    height: 15%;
    display: grid;
    grid-column: 20% 20% 20% 40%;
    grid-row: 100%;
}

.editContainer p{
    grid-column-start: 4;
    font-size: 1em;
    justify-self: center;
    align-self: center;
}

.editContainer button {
    margin: 0.5em;
    width: 2em;
    height: 2em;
    justify-self: center;
    border: #8FA677 solid 1px;
}

.editContainer button:first-child {
    grid-column-start: 1;
}

.editContainer button:nth-child(2) {
    grid-column-start: 2;
}

