.containerForm{
    display: grid;
    height:100vh;
    width: 100%;
    grid-template-columns:100%;
    grid-template-rows: 10% 50% 12% 28%;
    background-color: #7ECA9C;
}

.containerForm h1 {
    padding-top: 1em;
    font-size: 4.5vw;
    align-self: center;
}

.itemsForm {
    height:100%;
    width: 100%;
    grid-row-start:2;
    grid-row-end:3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemsForm input{
    width: 60%;
    height: 17%;
    border-radius: 3px;
    background: #C4C4C4;
    border: 2px solid #a7a7a7;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

.itemsForm button {
    width: 60%;
    height: 17%;
    background: #1C1427;
    border-radius: 3px;
    color: white;
    margin: 1em;
}

.itemsForm a{
    color: black;
}

.itemsForm a:hover {
    color: rgb(255, 255, 255);
}

.providers {
    grid-row-start:3;
    grid-row-end:4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.providers button {
    max-width: 3em;
    height: 2.5em;
    background: #1C1427;
    border-radius: 3px;
    color: white;
    display: inline;
}

.providers p{
    align-self: center;
    margin-right: 1em;
}

@media (min-width: 750px) {
    .containerForm{
        height:80vh;
        width: 100%;
        grid-template-columns:100%;
        grid-template-rows: 15% 10% 50% 15% 10%;
        background-color: #7ECA9C;
    }

    .containerForm h1 {
        grid-row-start:2;
        grid-row-end:3;
        font-size: 1.2em;
        align-self: flex-end;
    }
    
    .itemsForm input{
        width: 50%;
        height: 15%;
        text-align: center;
    }

    .itemsForm button {
        width: 50%;
        height: 12%;
    }

    .itemsForm {
        height:100%;
        width: 100%;
        grid-row-start:3;
        grid-row-end:4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .providers {
        grid-row-start:4;
        grid-row-end:5;
        display: flex;
        justify-content: center;
        align-self: flex-start;
    }

    .providers p{
        margin-right: 1em;
    }

}