@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.welcome {
    display: flex;
    height:100vh;
    width: 100%;
    background-color: #8FA677;
}

.welcomeImage{
    height:100vh;
    width: 70%;
    position: relative;
    background-image: url('../assets/fondo-principal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8FA677;
}

.title {
    position: absolute;
    max-height: 14vh;
    width: 100%;
    background: #8FA677A1;
    border: #8FA677 solid ;
    top: 70%;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
}

.title h1 {
    font-size: 6vw;
}

.welcomeButtons{
    display: flex;
    height:100vh;
    width: 30%;
    flex-direction: column;
}

 .welcomeButtons img {
    width: 12em;
    height: 11em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #B4BD7E;
    mix-blend-mode: multiply;
} 

.containerLogin,
.containerRegister {
    width: 12em;
    height: 11em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 2em;
}

.welcomeButtons h1, h2 {
    color: white;
}

.textLogin {
    position: absolute;
    top: 1em;
    font-size: 1.5em;
    padding: 0.5em 1em;
 }

 .titleLogin {
    position: absolute;
    top: 4.5em;
    left: 1.1em;
    cursor: pointer;
 }

 .textRegister{
    position: absolute;
    top: 1em;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
 }

 .titleRegister {
    position: absolute;
    top: 4.5em;
    left: 0.6em;
    cursor: pointer;
 }

.about {
    width: 10em;
    height: 3.5em; 
    margin: 2em 4.3em;
    background: #B4BD7E;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}










